/**
 * @name ClearVision
 * @author ClearVision Team
 * @version 6.1.0
 * @description Highly customizable theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.gitlab.io
 * @invite dHaSxn3
 */

/* Credits to Zerthox for making the original theme. */

/* IMPORT CSS */
@import url(https://clearvision.github.io/ClearVision-v6/main.css);

@keyframes appear {
	from {transform: scaleX(0%);}
	to {transform: scaleX(100%);}
}

/* SETTINGS */
:root {
	/* ACCENT COLORS */
	--main-color: #2608d1; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--main-rgb: 38, 8, 209;
	--second-color: 3, 2, 51;
	--hover-color: #0a2af7; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */
	
	/* Customization Patch */
	--channel-unread: #ffffff; /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
	--channel-color:  rgba(255,255,255,0.4); /*Read Server channel color  [default: rgba(255,255,255,0.3);]*/
	--channel-text-selected: #fff; /* Selected channel text color, CV default is #fff */
	--muted-color: rgba(255,255,255,0.1); /*Muted channel color  [default: rgba(255,255,255,0.1);]*/
	--url-color: rgb(30, 144, 255); /*The color of url links [default: var(--main-color)]*/     

	/* STATUS COLORS */
	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	/* GENERAL */
	--main-font: 'Borda 3'; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
	--text-normal: rgb(220, 221, 222); /* color of default discord text */
	--text-default: rgb(220, 221, 222);
	--text-muted:  rgb(128, 149, 186); /* color of default discord muted text (e.g.text found in input fields before typing).*/
	--text-faded: rgb(128, 149, 186);
	--channels-width: 220px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: 240px; /* member list width [default: 240px] */

	/* APP BACKGROUND */
	--background-shading: 120%; /* app background shading (0 for complete smoothness) [default: 100%] */
	--background-overlay: rgba(0, 0, 0, 0.0); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
	--background-image: linear-gradient(135deg,  #000428, #005baa, #000428); /* app background image (link must be HTTPS) [default: url(https://clearvision.gitlab.io/images/sapphire.jpg)]*/
	--background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */
	--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
	--background-attachment: fixed; /* app background attachment [default: fixed] */
	--background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 0px; /* app background blur [default: 0px] */
	
	/* HOME BUTTON ICON */
	--home-icon: url(https://clearvision.github.io/icons/discord.svg); /* home button icon (link must be HTTPS) [default: url(https://clearvision.gitlab.io/icons/discord.svg)]*/
	--home-position: center; /* home button icon position [default: center] */
	--home-size: 40px; /* home button icon size [default: 40px] */
	
	/* MODAL BACKDROP */
	--backdrop-overlay: rgba(0, 0, 0, 0.8); /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
	--backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(---background-image)] */
	--backdrop-position: var(--background-position); /* modal backdrop position [default: var(---background-position)] */
	--backdrop-size: var(--background-size); /* modal backdrop size [default: var(---background-size)] */
	--backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(---background-repeat)] */
	--backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
	--backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(---background-contrast)] */
	--backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(---background-saturation)] */
	--backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(---background-invert)] */
	--backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(---background-grayscale)] */
	--backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(---background-sepia)] */
	--backdrop-blur: 5px; /* modal backdrop blur [default: var(--background-blur)] */
	
	/* USER POPOUT BACKGROUND */
	--user-popout-overlay: rgba(0,0,0, .0);
	--user-popout-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-popout-position: var(--background-position); /* user popout background position [default: var(---background-position)] */
	--user-popout-size: var(--background-size); /* user popout background size [default: var(---background-size)] */
	--user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(---background-repeat)] */
	--user-popout-attachment: var(--background-attachment); /* user popout background attachment [default: var(--background-attachment)] */
	--user-popout-brightness: var(--background-brightness); /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(---background-contrast)] */
	--user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(---background-saturation)] */
	--user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(---background-invert)] */
	--user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-popout-blur: (--background-blur); /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* USER MODAL BACKGROUND */
	--user-modal-image: var(--background-image); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-modal-position: var(--background-position); /* user modal background position [default: var(---background-position)] */
	--user-modal-size: var(--background-size); /* user modal background size [default: var(---background-size)] */
	--user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(---background-repeat)] */
	--user-modal-attachment: var(--background-attachment); /* user modal background attachment [default: var(--background-attachment)] */
	--user-modal-brightness: var(--background-brightness); /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-modal-contrast: var(--background-contrast); /* user modal background contrast [default: var(---background-contrast)] */
	--user-modal-saturation: var(--background-saturation); /* user modal background saturation [default: var(---background-saturation)] */
	--user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(---background-invert)] */
	--user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-modal-blur: (--background-blur); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* THEME BD COLORS */
	--bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
	--bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
	--bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */
}

.appMount_ea7e65 .layers_d4b6c5 {
	background: linear-gradient(90deg, rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
}

/* main chat */
.chatContent_a7d72e, .theme-dark .container_a6d69a {
	background: transparent;
}
.group-spacing-16 .groupStart_d5deea {
    margin-top: 0;
	padding-top: 4px;
}
.cozy_ec86aa.wrapper_ec86aa {
	margin-right: 8px;
    margin-left: 72px;
	padding-left: 0;
	padding-bottom: 4px;
}
.avatar_ec86aa {
	left: -56px;
	margin-top: 0px;
}
.cozy_ec86aa .timestamp_ec86aa {
	left: -64px;
}
.newMessagesBar_cf58b5, .jumpToPresentBar_cf58b5 {
	background: var(--main-color);
}
.barBase_cf58b5 {
	right: 24px;
}
.repliedMessage_ec86aa:before {
	margin-right: 0px;
}
.repliedMessage_ec86aa {
	padding-left: 8px;
}
.base_a4d4d9 .container_fc4f04 {
	background: rgba(0, 0, 0, 0.95);
	box-shadow: none;
}
/* main chat scrollbar */
.scroller_e2e187::-webkit-scrollbar {
    width: 12px;
}

/* hover message */
.container_a3b500 {
    border-radius: 4px;
    background: rgba(var(--second-color), 0.8);
	outline: 1px solid var(--main-color);
	padding: 0;
	right: 8px;
}
.mouse-mode.full-motion .message_d5deea {
	transition: 400ms;
}
.message_d5deea.selected_d5deea,
.message_d5deea:hover {
	background: rgb(var(--second-color));
}

/* code block and attached files*/
.theme-dark .attachment_a4623d,
pre {
	background: rgba(var(--second-color), 0.4);
	border-color: var(--main-color);
	backdrop-filter: blur(10px);
}
.footer_ad9cbd {
	background: rgba(0, 0, 0, 0.6);
}

/*avatar deco */
.avatarDecoration_ec86aa {
	left: -60px;
}

/* message timer */
.cozy_ec86aa .timestamp_ec86aa.alt_ec86aa {
	left: -72px;
}

/* external link thumbnail */
.embedFull_b0068a {
    border-left: 4px solid var(--main-color) !important;
    background: rgba(0,0,0,0.8);
}

/* thread start */
.cozy_ec86aa.hasThread_ec86aa:after {
	left: -36px !important;
}
.theme-dark .container_ee69e0 .spineBorder_e1e976 {
	left: 28px;
}
.spine_e1e976 path {
    fill: none;
}
.spine_e1e976 {
    width: 16px !important;
    height: 16px !important;
    border-left: 2px var(--main-color) solid;
    border-bottom: 2px var(--main-color) solid;
    border-bottom-left-radius: 6px;
    left: 28px;
    top: 0;
}
.containerDefault_f6f816 > .spine_e1e976:nth-child(2) {
	display: none;
}
	
/* server list */
.layer_d4b6c5  .wrapper_fea3ef {
	background-color: transparent;
	width: 80px;
	box-shadow: none;
}
.expandedFolderBackground_bc7085 {
	background:rgba(255,255,255,0.15);
}

/* text input area */
.divider_c2654d {
	border-top: none;
}
.scrollerSpacer_e2e187 {
    height: 12px;
}
.channelTextArea_d0696b .scrollableContainer_d0696b {
	overflow-y: hidden;
	padding: 0;
}
.placeholder__443e5, .slateTextArea_e52116 {
    	padding-left: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.cozy-3raOZG .header-23xsNx:after {
    display: none;
}
.form_a7d72e {
	padding: 0 16px 0 8px;
	background-color: transparent;
	backdrop-filter: blur(10px);
}
.typing_d7ebeb {
	margin:0 0 2px 19.5px;
}
.base_d7ebeb .ellipsis_d7ebeb {
	margin: 0 6px 0 0;
}
.markup_d6076c {
    color: rgb(255,255,255);
    line-height: 1.25rem;
}
.channelTextArea_d0696b {
	border: 2px var(--main-color) solid;
	background: rgba(var(--second-color), .7);
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
}
.channelTextArea_a7d72e {
	margin-bottom: 32px;
}
.attachButton_f298d4 {
	height: 36px;
}
.attachWrapper_f298d4 {
	margin-left: 15px;
}
.has-webkit-scrollbar .buttons_d0696b {
	margin-right: 0;
	height: 36px;
}
.upload_df1eaf {
	background-color: rgba(0, 0, 0, 0.8);
	padding-right: 20px;
}
.channelAttachmentArea_e8c527 {
	background: transparent;
}
.sansAttachButton_d0696b {
	padding-left: 0px;
}
.channelTextArea_d0696b .textArea_d0696b.textAreaSlate_d0696b {
	height: auto !important;
	margin-left: 3px;
	min-height: 36px !important;
}
.textArea_d0696b {
	line-height: 1.25rem;
}
.channelAppLauncher_df39bd {
	display: none;
}

/* autocomplete emote pick */
.chat_a7d72e .autocomplete_f23da8 {
	border-radius: 8px;
	border: 2px var(--main-color) solid;
}
.autocomplete_f23da8 [aria-selected=true].clickable_f23da8 .base_f23da8, .autocomplete_f23da8 [aria-disabled=false].clickable_f23da8 .base_f23da8:hover {
    background: linear-gradient(135deg, var(--main-color) 30%, rgb(var(--second-color)));
    padding: 2px 6px;
    border: 2px var(--main-color) solid;
}

/* channel list */
.sidebar_a4d4d9 {
	background-color: transparent;
}
.iconContainer_d8bfb3 {
	margin-right: 0;
	margin-left: 4px;
}
.children_d8bfb3 {
	margin-right: 5px;
}
.name_d8bfb3 {
	opacity: 0.85;
	padding: 5px;
}
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 .link_d8bfb3 .linkTop_d8bfb3 .name_d8bfb3 {
	text-shadow: none;
}
.link_d8bfb3 {
	border-radius: 4px;
	padding: 0;
	border-width: 2px;
	border-color: transparent;
	border-style: solid;
}
.wrapper_d8bfb3:hover .link_d8bfb3 {
	background: linear-gradient(135deg, rgba(var(--main-rgb), 0.6) 30%, rgba(var(--second-color), 0.6)) padding-box !important;
}
.modeSelected_d8bfb3 .link_d8bfb3, .wrapper_d8bfb3:hover.modeSelected_d8bfb3 .link_d8bfb3 {
	background: linear-gradient(135deg, var(--main-color) 30%, rgb(var(--second-color))) padding-box !important;
	border-color: var(--main-color);
}
.wrapper_d8bfb3 {
	padding: 0px 12px 0px 8px;
}
.wrapper_d8bfb3:active {
	transition: none;
}
.wrapper_d8bfb3:before {
	margin-right: 8px;
}
.modeSelected_d8bfb3:not(:hover) .link_d8bfb3::before, .modeSelected_d8bfb3:not(:hover) .link_d8bfb3::after {
	border-radius: 4px;
}
.wrapper_d8bfb3:hover .link_d8bfb3::before, .wrapper_d8bfb3:hover .link_d8bfb3::after,
.wrapper_d8bfb3.modeMuted_d8bfb3:hover .wrapper_d8bfb3 .mainContent-20q_Hp:before {
	background: transparent;
}
.wrapper_d8bfb3.modeSelected_d8bfb3 .link_d8bfb3:after {
	background: transparent;
	animation: none;
}
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 .link_d8bfb3 .linkTop_d8bfb3 .name_d8bfb3 {
	text-shadow: none;
}
/* member list */
.membersWrap_cbd271 {
	background: transparent;
}
.members_cbd271 {
	background: transparent;
}
.members_cbd271 .membersGroup_cbd271 {
	color: var(--url-color);
}

/* divider */
.divider_d5deea {
	margin-right: 8px;
	top: 0 !important;
}
/* pins */
.header_ac90a2, .messageGroupWrapper_ac90a2 {
	background-color: transparent;
	border: none;
}

/* top bar */
.base_a4d4d9 .container_fc4f04 {
	border-bottom: 1px var(--main-color) solid;
	background: rgba(0, 0, 0, calc(var(--background-shading) * 0.9));
}

/* search box */
.theme-dark .container_eedf95 {
	background: rgba(0, 0, 0, 0.9);
}
.theme-dark .option-2KkUJO:after {
	background: transparent;
}
.search-1FM8Qc .searchBar-zdmu7v {
	background: transparent;
	outline: 1px solid var(--main-color);
}
/* mentions */
.wrapper_bf1b19 {
    border: 1px var(--main-color) solid;
    border-radius: 4px !important;
	background: rgb(var(--second-color), 0.6) !important;
	padding: 0px 2px;
	color: var(--text-normal) !important;
}
.mentioned_d5deea {
	background: rgb(var(--second-color), 0.2) !important;
}
.mentioned_d5deea > .contents_ec86aa,
.mentioned_d5deea > .container_b558d0 {
	padding-left: 8px;
}
.discriminator_afed89, .guildNick_b26403 {
	color: var(--text-faded);
}

/* server hover */
.theme-dark .tooltip_b6c360.tooltipPrimary_b6c360>.tooltipPointer_b6c360 {
    border-top-color: var(--main-color);
	border-width: 6px;
}
/*and reaction hover */
.theme-dark .tooltip_b6c360,
.reactionTooltip_fba897 {
	border: 2px var(--main-color) solid;
	border-radius: 8px;
	background:rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
	animation: appear 0.25s linear 0s 1 normal !important;
}

/* reaction */
.reaction_ec6b19, .reactionBtn_ec6b19.forceShowLook_ec6b19 {
	background: rgba(255, 255, 255, .1);
    border-radius: 4px;
	border: none;
	height: 24px !important;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: auto;
}
.reaction_ec6b19:hover,
reactionBtn_ec6b19 :hover {
	background: rgb(var(--second-color), 0.7);
}
.reaction_ec6b19.reactionMe_ec6b19 {
	background: rgb(var(--second-color));
	border: 2px var(--main-color) solid;
	box-sizing: border-box;
}
.reaction_ec6b19.reactionMe_ec6b19 .reactionCount_ec6b19 {
	color: rgba(255, 255, 255, 0.8);
}
.reactionCount_ec6b19 {
	min-width: unset !important;
}

.reactions_ec6b19 {
	padding-left: 6px;
}

/* right click menu */
:not(.userPopoutOverlayBackground_c69a7b) > .menu_d90b3d, .container_ac201b {
	background-color: rgba(var(--second-color), 0.8);
}
:not(.menus_d4e7c2) > .menu_d90b3d::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	backdrop-filter: blur(10px);
}
.isBurstReactionPicker__428c0 {
	box-shadow: none;
}
.container_ac201b {
	position: absolute;
	z-index: 2;
}

/* user popout */
.userProfileOuter_c69a7b {
    background: var(--background-image) !important
}
.userProfileInner_c69a7b, .userProfileInner_c69a7b:before {
    background: transparent !important;
}
.overlayBackground_c69a7b {
background-color: transparent !important;
}
.input_df4dd0 {
	box-shadow: none;
	background: transparent;
}
.input_f8bc55 {
	background: transparent !important;
}
.tabBar_ecc04c {
    gap: 8px;
    border-bottom: none;
    margin: 8px 8px 0;
}
.scroller_d53fbd {
	padding: 8px;
}
.avatar_f94206.biteSize_f94206 {
	top: 0;
	left: 0;
}
.avatar_f94206.biteSize_f94206.clickable_f94206 {
    top: 12px !important;
	position: absolute !important;
	left: 12px;
}
.header_b8cc6d {
	height: 96px !important;
}
.mask_d5fdb1 {
	height: 60px !important;
	min-height: 60px !important;
}
.banner_d5fdb1 {
	background: transparent !important;
}
.button_f9d37d {
	background-color: rgb(var(--second-color), 0.7) !important;
}
.headerInner_b9fccc {
	padding: 38px 16px 10px;
}
.theme-dark .statusBubbleOuter_e6ac4a,
.theme-dark .statusBubbleOuter_e6ac4a:before,
.theme-dark .statusBubbleOuter_e6ac4a:after {
    border: 2px solid var(--main-color);
	border-bottom: none;
    background-color: rgb(var(--second-color));
}
.statusBubble_e6ac4a {
    background: rgb(var(--second-color))
}
.tabBarItem_ecc04c {
    height: 36px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.text_dc9488 {
	color: var(--text-default) !important;
}
.overlayBackground_c69a7b .top_a0 .item_a0 {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	border-color: transparent !important;
	color: var(--text-faded);
}
.overlayBackground_c69a7b .top_a0 .selected_a0.item_a0 {
	border-color: var(--text-default) !important;
	color: var(--text-default) !important;
	background-color: rgba(var(--second-color), 0.8) !important;
}
.note_a24910 {
	margin: 0;
}
.popoutBanner_c3e427, .profileBannerPremium__6fb42, .banner_c3e427 {
	display: none;
}
.userPopoutInner_c69a7b {
	background: var(--background-image) !important;
}
.topSection_b9fccc {
	margin-top: 24px;
}
.profileBanner_f0f36c, .popoutBannerPremium_c3e427 {
	background: transparent !important;
	-webkit-mask: none;
}
.avatarPositionNormal_f89da9, .avatarPositionPremiumBanner_f89da9 {
	top: 28px;
}
.role_f9575e {
	z-index: 2;
	position: relative;
	background: none !important;
	border: none;
	padding: 0;
	height: 20px;
}
.role_f9575e>:first-child {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}
.roleRemoveButton_f9575e {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
}
.roleCircle_f9575e {
	border-radius: 2px;
}
.roleCircle_f9575e:before {
    content: '';
    top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
	opacity: 0.9 !important;
}
.roleName_f9575e {
	overflow: hidden;
	z-index: 2;
	margin: 2px !important;
}
.role_f9575e .overflow_a82120 {
	text-shadow: 0 0 4px rgb(0, 0, 0);
	padding: 4px;
	margin-right: 0;
}
.role_f9575e:hover div[aria-label="Remove Role"] + .roleName_f9575e {
    margin-left: 14px;
}
.roleRemoveIcon_f9575e {
    left: 2px;
	top: calc(50% - 5px);
}
.roleIcon_f9575e {
    margin: 0 4px 0 0;
	position: relative;
	z-index: 2;
}
.defaultColor_a595eb {
	color: #ffffff;
}
.avatar_f94206.fullSize_f94206 {
	top: -44px;
}
.headerInner_bc9cc2 {
	padding: 40px 16px 0;
}
.connectedAccountNameText_f3eb60,
.pronouns_c32acf,
.userTagUsername_c32acf,
.text-xs\/semibold_dc00ef,
.text-sm\/normal_dc00ef,
.text-sm\/medium_dc00ef,
.heading-lg\/bold_dc00ef {
	color: var(--text-default) !important;
}
.container_b64375 {
	background: linear-gradient(135deg, var(--main-color) 30%, rgb(var(--second-color))) !important;
	outline: 2px solid var(--main-color);
	border: none;
}
.connectedAccountContainer_ab12c6 {
	background:linear-gradient(135deg, var(--main-color) 30%, rgb(var(--second-color)));
	border: 2px solid var(--main-color) !important;
	border-radius: 6px;
	padding: 8px;
}

/* channel thread list */
.popout_c5b389 {
	background: rgba(0, 0, 0, 0.9);
	border: 1px var(--main-color) solid;
	border-radius: 4px;
}

/* spoilers */
.spoilerMarkdownContent_aa9639 {
    border: 1px var(--main-color) solid;
    border-radius: 4px;
	padding: 1px 4px;
	background-color: rgb(var(--second-color));
}

/* new pill */
.unreadPill_c2654d {
	padding-top: 2px;
	top: -7px;
    background-color: var(--main-color);
}
.unreadPillCapStroke_c2654d {
    color: var(--main-color);
    fill: var(--main-color);
}
.divider_c2654d.isUnread_c2654d, .divider_c2654d:has(.content_c2654d) {
	background: transparent;
	border-top: 1px var(--main-color) solid;
	margin: 0 0 4px 72px;
	top: 0 !important;
	right: 4px;
	z-index: 1;
}

/* window bar */
.typeWindows_a934d8 {
	box-shadow: none;
	background: rgba(0, 0, 0, calc(var(--background-shading) * 0.9));

}

/* why tf is the editor behind the window bar whose z-index is set to 3001*/
#floating-editor-window {
	z-index: 3002;
	max-width: 800px;
	width: 100%;
}
#bd-editor-controls {
	background: rgba(0, 0, 0, 0.9);
}

/* day change notif */
.content_c2654d {
	border-radius: 4px;
	color: var(--text-normal);
	border: 2px solid var(--main-color);
	background: rgb(var(--second-color)) !important;
	line-height: 12px;
	margin-bottom: 8px;
}
.content_c2654d:before {
	display: none;
}
.content_c2654d:after {
	display: none;
}

/* top search bar  and its nearby buttons */
.toolbar_fc4f04 > * {
	outline: 1px solid rgba(var(--main-rgb), 0.7);
	margin:0 4px;
	background: transparent;
	border-radius: 4px;
}
.search_a46bef .searchBar_a46bef {
	background: transparent;
	box-shadow: none;
}
.search_a46bef .DraftEditor-root {
	padding: 3px 0;
}
.focused_a46bef .searchBar_a46bef,
.open_a46bef .searchBar_a46bef,
.toolbar_fc4f04 .iconWrapper_fc4f04.selected_fc4f04,
.toolbar_fc4f04 .iconWrapper_fc4f04.icon_fc4f04.popout-open {
	background: rgba(var(--second-color), 0.7);
}

/* auto hidden member list */
.container_cbd271, .membersWrap_cbd271:not(.container_cbd271 > .membersWrap_cbd271) {
	transition: 0.1s linear;
	margin-right: -180px;
}
.container_cbd271:hover, .membersWrap_cbd271:not(.container_cbd271 > .membersWrap_cbd271):hover {
	margin-right: 0;
}

/* setting menu */
.sidebar_c25c6d .side_a0 {
	background: rgba(var(--second-color), 0.8);
	backdrop-filter: blur(10px);
	padding: 0px 8px;
}
.contentColumnDefault_c25c6d, .contentColumnWide_c25c6d {
	background-color: rgba(var(--second-color), 0.8);
	margin: 40px 0;
	padding: 40px;
	backdrop-filter: blur(10px);
	max-width: calc(100% - 200px);
	border-radius: 8px;
}
.contentRegionScroller_c25c6d .toolsContainer_c25c6d {
	margin-left: 10px;
	padding-top: 40px;
	border-radius: 4px;
}
.contentRegionScroller_c25c6d .tools_c25c6d {
	padding: 8px;
	border-radius: 4px;
	background: rgba(var(--second-color), 0.8);
	backdrop-filter: blur(10px);
}
.peopleColumn_c2739c, .nowPlayingColumn_c2739c {
	background: transparent;
}

/* bot left corner */
.panels_a4d4d9>:first-child {
	box-shadow: none;
}
.avatarWrapper_b2ca13 {
    width: 100%;
}
