/* SETTINGS */
/* Default value of the theme */
/* If you would like to customize, copy paste this to your custom CSS section then adjust the variables */
:root {
    /* Mica effect */
    --mica-color: rgb(200, 200, 200); /* Mica color */
    --mica-opacity: .2; /* Mica transparency */
    --mica-filter: 15px; /* Blur effect */

    /* Main and second color */
    --main-color: #5865F1; /* Main color */
    --second-color: rgb(3, 2, 51); /* Second color to compliment main color */

    /* App background */
    --background-overlay: rgba(0, 0, 0, .6); /* A filter layer between the background image and the main Discord functions */
    --background-image: url(https://i.imgur.com/Glq6SsX.jpg); /* Remember to use the correct url to your image */
	--shadow-color: rgb(0, 0, 0, .6); /* Color of box-shadow */
	--shadow: 2px 2px 2px 1px var(--shadow-color);
	--background-gradient: linear-gradient(135deg, rgb(from var(--main-color) r g b) 20%, rgb(from var(--main-color) r g b / .2) 60%);

    /* Channel color */
    --channel-unread: #ffffff; /* Color of channels with new unread messages */
    --channel-color:  rgba(255,255,255,0.5); /* Color of normal channel */
    --muted-color: rgba(255,255,255,0.1); /* Color of muted channels */
    --url-color: rgb(74, 144, 226); /* Color of links */
    
    /* Text font and color */
    --main-font: 'gg sans'; /* Font that applies to everywhere except codeblock */
    --code-font: Consolas, Liberation Mono; /* Font for code block */
    --text-normal: rgb(220, 221, 222); /* Color for UI parts */
    --text-default: rgb(255, 255, 255); /* Color for most texts */
    --text-faded: rgb(128, 149, 186); 
}

/* The main theme */
:root {
	--text-link: var(--url-color) !important;
}
.markup_f8f345 a {
	color: var(--url-color);
}
@keyframes appear {
	from {transform: scaleX(0%);}
	to {transform: scaleX(100%);}
}
.typeWindows_a934d8 {
    background: transparent;
	box-shadow: none;
}
.appMount_ea7e65 {
	background: var(--background-overlay);
}
.bg_d4b6c5, .app_a01fb1, .sidebar_a4d4d9, .container_b2ca13, .chat_a7d72e,
.container_cbd271, .member_cbd271, .scroller_c47fa9, .container_c2739c, .container_bf550a, .searchBar_e0840f,
.statusBubble_a82ccc, .statusBubble_af9888,
.layer_d4b6c5, .standardSidebarView_c25c6d, .sidebarRegionScroller_c25c6d, .contentRegion_c25c6d, .contentRegionScroller_c25c6d,
.container_d1c246 {
    background: transparent !important;
}
body {
    background: var(--background-image) center / cover no-repeat fixed !important;
}


.chatContent_a7d72e {background: transparent;}

/* Change font */
::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: var(--main-font);
}
/* Add mica effect */
.container_ee69e0,
.panels_a4d4d9,
.members_cbd271,
.scroller_e2e187,
.wrapper_faf5ab,
.base_a4d4d9 .container_fc4f04,
.content_a7d72e .searchResultsWrap_c2b47d,
.privateChannels_f0963d,
.peopleColumn_c2739c, .channelTextArea_bdf0de:before,
.nowPlayingColumn_c2739c, .mainCard_a6d69a, .tag_a6d69a, .sortDropdown_a6d69a, .tagsButton_a6d69a,
.chatHeaderBar_e2f46e, .modal_a60b1b, .popout_c5b389, .root_f9a4c9 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	backdrop-filter: blur(var(--mica-filter));
	border-radius: 8px;
	box-shadow: var(--shadow) !important;
}
.privateChannels_f0963d, .container_ee69e0 {
	margin: 0 6px 12px 0;
}
.panels_a4d4d9 {
	margin: 0 6px 24px 0;
}
.members_cbd271 {
    margin: 6px 12px 24px 0px;
}
.scroller_e2e187 {
	margin: 6px 12px 12px 6px;
}
.base_a4d4d9 .container_fc4f04 {
	margin: 0 12px 6px 6px;
}
.content_a7d72e .searchResultsWrap_c2b47d {
	margin: 6px 12px 24px 0px;
}
.peopleColumn_c2739c {
	height: fit-content;
	margin: 6px;
}
.nowPlayingColumn_c2739c {
	height: fit-content;
	margin: 6px 12px auto 6px;
}
.list_a6d69a, .grid_a6d69a {
    margin: 6px 12px 6px 6px;
}

/* Main chat */
.messagesWrapper_e2e187:before {
    content: "";
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(var(--mica-filter));
    inset: 6px 12px 12px 6px;
    border-radius: 8px;
}
.scroller_e2e187.scrollerBase_c49869 {
	backdrop-filter: none;
}
.tabBody_c2739c:before {
	display: none;
}
.chatContent_a7d72e, .theme-dark .container_a6d69a {
	background: transparent;
}
.group-spacing-16 .groupStart_d5deea {
    margin-top: 0;
	padding-top: 4px;
}
.cozy_ec86aa.wrapper_ec86aa {
	margin-right: 8px;
    margin-left: 72px;
	padding-left: 0;
	padding-bottom: 4px;
}
.avatar_ec86aa {
	left: -56px;
	margin-top: 0px;
}
.cozy_ec86aa .timestamp_ec86aa {
	left: -64px;
}
.newMessagesBar_cf58b5, .jumpToPresentBar_cf58b5 {
	height: 24px;
	background: var(--main-color);
	padding-bottom: 0;
	margin-right: 12px;
	left: auto;
	width: 600px;
	box-shadow: var(--shadow);
	border-radius: 4px;
	opacity: .9;
}
.newMessagesBar_cf58b5 {
	top: 16px;
}
.jumpToPresentBar_cf58b5 {
	right: 16px;
	bottom: 8px;
}
.messageSpine_f9f2ca:before, .repliedMessageClickableSpine_f9f2ca {
	border-color: var(--main-color);
}
.cozy_f9f2ca .timestamp_f9f2ca {
	color: var(--text-default);
}
.cozy_f9f2ca.wrapper_f9f2ca {
	padding-top: 0;
	padding-bottom: 0;
}
.wrapper_a71a1c {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	box-shadow: var(--shadow);
}
.container_b558d0 {
	gap: 8px;
}
.embedFull_b0068a {
	border-left: 4px solid var(--main-color) !important;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	width: fit-content;
	box-shadow: var(--shadow);
}
.file_f46c86 {	
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	border: none;
	border-radius: 8px;
	box-shadow: var(--shadow) !important;
}
.hoverButtonGroup_d0395d {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	border-radius: 8px;
	box-shadow: var(--shadow) !important;
	backdrop-filter: blur(var(--mica-filter));
	overflow: hidden;
	outline: none;
}
.nonMediaMosaicItem_d0395d {
	top: 4px;
	right: 4px;
}
.popoverReactionHoverBar_e986d9 {
	border: none !important;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	border-radius: 8px;
	backdrop-filter: blur(var(--mica-filter));
	box-shadow: var(--shadow) !important;
	padding: 2px;
}
.buttonInner_b385c8, .addReactButton_b385c8 {
	background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity));
}
.buttonInner_b385c8:hover, .addReactButton_b385c8:hover {
	background-color: rgb(from var(--main-color) r g b / .8);
	border-color: transparent;
}
.container_a3b500 {
	top: 0;
}
.emptyChannelIcon_c2668b {
	background: transparent;
}
.blockquoteDivider_f8f345 {
	background-color: var(--main-color);
}
.container_a1531c, .container_e365d2 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
}
.chat_f57fdc:before {
	display: none;
}
.messageListItem_d5deea {
	margin-bottom: 4px;
}

/* Main chat scrollbar */
.scroller_e2e187.scrollerBase_c49869 {
    &::-webkit-scrollbar {
    width: 8px;
    }
    &::-webkit-scrollbar-track {
    background: transparent;
    }
    &::-webkit-scrollbar-thumb {
    background: var(--main-color);
    }
}

/* main chat loading */
.wrapper_cdfd51, .wrapper_b75bb9 {
	background: transparent;
}
.messagesWrapper_e2e187:not(:has(.messageListItem_d5deea)):before {
    position: absolute;
    inset: 0;
    z-index: 5;
    display: flex;
	background: linear-gradient(135deg, transparent,  rgb(from var(--mica-color) r g b / .1),  transparent, rgb(from var(--mica-color) r g b / .1),  transparent);
    margin: 6px 12px 12px 6px;
    background-size: 200% 200%;
    animation: loading-wave 3s linear infinite;
}
@keyframes loading-wave {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

/* Code block */
.markup_f8f345 .codeContainer_f8f345 {
	padding: 0 4px 4px 0;
}
.container_d8e2d0,
.markup_f8f345 code {
	border: none;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
	border-radius: 8px;
}
.textContainer_d8e2d0, .footer_d8e2d0 {
	background: transparent;
	border: none;
}
.footer_d8e2d0 {
	border-top: 1px var(--shadow-color) solid;
	& > * {
		color: var(--text-default);
	}
}
.hljs {
	background: transparent;
	border-radius: 8px;
}
.theme-dark .hljs-comment, .theme-dark .hljs-code, .theme-dark .hljs-formula {
	color: rgb(144, 238, 144);
}
.markup_f8f345 .codeActions_f8f345 {
	right: 12px;
}
.messageContent_f9f2ca:has(code), .messageContent_f9f2ca:has(.obscuredTextContent_aa9639) {
	overflow: visible;
}

/* Text input area */
.divider_c2654d {
	border-top: none;
}
.scrollerSpacer_e2e187 {
    height: 8px;
}
.placeholder__443e5, .slateTextArea_e52116 {
    padding-left: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.cozy-3raOZG .header-23xsNx:after {
    display: none;
}
.form_a7d72e {
	padding: 0 12px 0 6px;
	background-color: transparent;
	margin-top: 0;
}
.typing_d7ebeb {
	margin:0 0 0 19.5px;
}
.base_d7ebeb .ellipsis_d7ebeb {
	margin: 0 6px 0 0;
}
.markup_f8f345 {
    color: rgb(255,255,255);
    line-height: 1.25rem;
}
.channelTextArea_bdf0de {
	background: linear-gradient(90deg, rgb(from var(--main-color) r g b / .6), transparent 30%) 100% / 300% 100%;
	transition: 200ms linear;
}
.channelTextArea_bdf0de:before {
	position: absolute;
	content: '';
	inset: 0;
}
.channelTextArea_bdf0de:focus-within {
	background-position: 0%;
}
.channelTextArea_bdf0de
.channelBottomBarArea_a7d72e .channelTextArea_bdf0de {
	margin-bottom: 24px;
}
.scrollableContainer_bdf0de  {
	overflow-y: hidden;
	background: transparent !important;
	padding: 0;
}
.attachButton_f298d4 {
	height: 36px;
}
.attachWrapper_f298d4 {
	margin-left: 15px;
}
.has-webkit-scrollbar .buttons_bdf0de {
	margin-right: 0;
	height: 36px;
}
.upload_df1eaf {
	background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	backdrop-filter: blur(var(--mica-filter));
	padding-right: 20px;
}
.placeholder_a552a6 {
	color: var(--text-faded);
}
.channelAttachmentArea_e8c527 {
	background: transparent;
}
.sansAttachButton_bdf0de {
	padding-left: 0px;
}
.channelTextArea_bdf0de .textArea_bdf0de.textAreaSlate_bdf0de {
	height: 36px;
	margin-left: 3px;
	min-height: 36px !important;
}
.textArea_bdf0de {
	line-height: 1.25rem;
}
.channelAppLauncher_df39bd {
	display: none;
}
.buttons_bdf0de {
	height: 36px;
}
/* reply */
.stackedBars_bdf0de, .replyBar_b11c5e {
	background: transparent;
	z-index: 1;
}

/* Top bar */
.base_a4d4d9 .container_fc4f04 {
    width: auto;
    height: 40px;
    min-height: 40px;
	box-shadow: var(--shadow);
	padding: 0;
}
.container_fc4f04 .topic_bf3bbb {
	color: var(--text-default);
}
.icon_fc4f04 {
	color: var(--text-default);
}
.content_a7d72e:before {
	display: none;
}
.children_fc4f04 {
	margin-left: 8px;
}
.children_fc4f04:after {
	width: 1px;
	height: 24px;
	top: 8px;
	background: var(--text-default);
}
.divider_fc4f04 {
	background: var(--text-default);
	margin: 0;
}
.toolbar_fc4f04 {
	padding-right: 4px;
	&> * {
		height: auto;
		padding: 4px;
		border-radius: 4px;
		&:hover {
		box-shadow: var(--shadow);
		}
	}
}
.iconWrapper_fc4f04 {
	margin: 0;
}

/* User info area */
.layer_cd0de5:has(.accountProfilePopoutWrapper_b2ca13):before {
	backdrop-filter: none;
}
.accountProfilePopoutWrapper_b2ca13 {
	left: 0;
	transform: translateX(-28px);
	border-radius: 8px;
	box-shadow: var(--shadow);
}
.container_b2ca13 {
	height: 36px;
	padding: 0;
	left: 4px;
}
.menus_ad5fac {
	gap: 4px;
}
.menuOverlay_ad5fac {
	padding: 6px;
}
.menuDivider_ad5fac {
	height: 0;
	margin: 6px;
}
.menus_ad5fac.button_dd4f85 {
	background: var(--background-gradient) 100% / 300% 100%;
	box-shadow: var(--shadow);
	transition: 300ms linear;
	&:hover {
		background-position: 0%;
		color: var(--text-default);
	}
}
.submenuPaddingContainer_ad5fac {
	padding: 0;
}
.menuItemColor_ad5fac {
	color: var(--text-faded);
}
.avatarWrapper_b2ca13 {
	width: 132px;
	margin-right: 0;
	background: transparent;
	&:hover {
		background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
		box-shadow: var(--shadow);
	}
}
.avatarWrapper_b2ca13 .nameTag_b2ca13 {
	padding: 0 0 4px 4px;
}
.panels_a4d4d9 {
	border-radius: 8px;
}
button.button_adca65, span.button_adca65 {
	border-radius: 8px;
}
button.button_adca65.enabled_adca65:hover, span.button_adca65.enabled_adca65:hover {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	box-shadow: var(--shadow);
}

/* Channel list */
.sectionDivider_c43953 {
    width: calc(100% - 12px);
    margin-top: 11px;
    margin-left: 6px;
    background-color: var(--channel-color);
}
.animatedContainer_fd6364 {
	border-radius: 8px;
}
.iconContainer_d8bfb3 {
	margin-right: 0;
	margin-left: 4px;
}
.children_d8bfb3 {
	margin-right: 5px;
}
.wrapperCommon_a08117 {
	padding: 0;
	margin: 0 8px 0 4px;
}
.icon_a08117 {
	display: none;
}
.container_a5ad5c {
	display: flex;
	justify-content: center;
}
.name_a08117 {
	transition: all .3s linear;
}
.name_a08117:before {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s linear;
    background: linear-gradient(to left, currentcolor, transparent 50%) 100% / 300% 100%;
    margin: 7px 5px 7px 0;
}
.name_a08117:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    transition: all .3s linear;
    background: linear-gradient(to right, currentcolor, transparent 50%) 0% / 300% 100%;
    margin: 7px 0 7px 5px;
}
.collapsed_a08117 .name_a08117:before {
	background-position: 0%;
}
.collapsed_a08117 .name_a08117:after {
	background-position: 100%;
}
.name_d8bfb3 {
	opacity: 0.85;
	padding: 5px;
}
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 .link_d8bfb3 .linkTop_d8bfb3 .name_d8bfb3 {
	text-shadow: none;
}
.link_d8bfb3 {
	border-radius: 4px;
	padding: 0;
	border: none;
	transition: background 300ms linear;
}
.wrapper_d8bfb3:hover .link_d8bfb3 {
	box-shadow: var(--shadow);
	background: transparent;
}
.modeSelected_d8bfb3 .link_d8bfb3 {
	background: var(--background-gradient) 100% / 300% 100% !important;
	box-shadow: var(--shadow);
}
.modeSelected_d8bfb3:hover .link_d8bfb3 {
	background-position: 0% !important;
}
.wrapper_d8bfb3.modeSelected_d8bfb3 .link_d8bfb3:before {
	background: transparent;
}
.wrapper_d8bfb3 {
	padding: 0px 8px 0px 4px;
	margin: 0;
}
.wrapper_d8bfb3:before {
	margin-right: 8px;
}
.modeSelected_d8bfb3:not(:hover) .link_d8bfb3::before, .modeSelected_d8bfb3:not(:hover) .link_d8bfb3::after {
	border-radius: 4px;
}
.wrapper_d8bfb3:hover .link_d8bfb3::before, .wrapper_d8bfb3:hover .link_d8bfb3::after,
.wrapper_d8bfb3.modeMuted_d8bfb3:hover .wrapper_d8bfb3 .mainContent-20q_Hp:before {
	background: transparent;
}
.wrapper_d8bfb3.modeSelected_d8bfb3 .link_d8bfb3:before {
	background: transparent;
	animation: none;
}
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3 .link_d8bfb3 .linkTop_d8bfb3 .name_d8bfb3 {
	text-shadow: none;
}
.scroller_c43953 {
	padding-left: 4px;
}
.icon_d8bfb3, .name_d8bfb3 {color: var(--channel-color);}
.modeMuted_d8bfb3 .icon_d8bfb3, .modeMuted_d8bfb3 .name_d8bfb3 {
	color: var(--muted-color);
}
.unread_d8bfb3 .icon_d8bfb3, .unread_d8bfb3 .name_d8bfb3,
.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .icon_d8bfb3,
.modeSelected_d8bfb3 .icon_d8bfb3,
.modeSelected_d8bfb3:hover .icon_d8bfb3 {
	color: var(--channel-unread);
}
.wrapperCommon_a08117, .container_a5ad5c {
	color: var(--main-color);
	text-align: center;
}
.wrapper_a08117.muted_a08117, .wrapper_a08117.muted_a08117 .name_a08117 {
	color: var(--muted-color);
}
.scrollerBase_eed6a8 {
	scrollbar-width: none;
}
/* voice channels */
.wrapper_a5bc92 {
	box-shadow: var(--shadow);
	border-radius: 6px;
	color: var(--text-default);
}
.users_a5bc92 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
}
.total_a5bc92 {
	background-color: var(--main-color);
}
.total_a5bc92:after {
	border-right-color: var(--main-color);
}

/* User popout */
.animatorRight_f88ae3 {
	border-radius: 8px;
	box-shadow: var(--shadow);
}
.outer_c69a7b {
	background: var(--background-image) no-repeat center / cover !important;
	border: none !important;
	padding: 0 !important;
	border-radius: 8px !important;
}
.outer_c69a7b:before {
	position: absolute;
	display: block;
	content: "";
	inset: 0;
	background: var(--background-overlay);
}
.inner_c69a7b {
    background: transparent !important;
}
.inner_c69a7b:before {
	position: absolute;
	display: block;
	content: "";
	inset: 0;
	height: 100% !important;
	width: 100% !important;
	background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	backdrop-filter: blur(var(--mica-filter));	
}
.body_b9fccc {
	margin-right: 8px;
}
.overlay_c69a7b {
background-color: transparent !important;
}
.input_f8bc55 {
	background: rgb(20, 20, 20, 0.2) !important;
	&:focus-within {
		linear-gradient(90deg, rgb(from var(--main-color) r g b / .35), transparent 30%) !important;
	}
}
.tabBar_ecc04c {
    gap: 4px;
    border-bottom: none;
    margin: 8px 8px 0;
}
.scroller_d53fbd {
	padding: 8px !important;
	scrollbar-width: none;
}
.avatar_f94206.biteSize_f94206 {
	top: 0 !important;
	left: 0 !important;
}
.avatar_f94206.biteSize_f94206.clickable_f94206 {
    top: 12px !important;
	position: absolute !important;
	left: 12px !important;
}
.header_b8cc6d {
	height: 96px !important;
	min-height: 0 !important
}
.mask_d5fdb1 {
	height: 60px !important;
	min-height: 60px !important;
}
.banner_d5fdb1 {
	background: transparent !important;
}
.container_c32acf {
	z-index: 1;
}
.headerInner_b9fccc {
	padding: 38px 0 10px;
}
.container_af9888.biteSize_af9888 {
	top: 60px;
	left: 100px;
}
.container_af9888.fullSize_af9888 {
    top: 50px;
    left: 152px;
}
.outer_af9888 {
	background: transparent;
}
.inner_af9888,
.outer_af9888:before,
.outer_af9888:after {
    background: var(--background-gradient) 100% / 300% 100% !important;
	border: none !important;
	box-shadow: var(--shadow);
	backdrop-filter: blur(var(--mica-filter));
	transition: 300ms linear;
	&:hover {
		background-position: 0% !important;
	}
}
.outer_af9888:before {
	top: -24px;
	left: 6px;
}
.outer_af9888:after {
	top: -36px;
	left: -6px;
}
.popover_a64b81 {
	left: 24px;
	top: 92px !important;
}
.wrapper_f7e168 .button_f7e168:hover {
	background-color: rgb(from var(--mica-color) r g b / calc(var(--mica-opacity) / 2));
	box-shadow: var(--shadow);
}
.wrapper_f7e168 .button_f7e168.selected_f7e168 {
	background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
}
.tabBarItem_ecc04c {
    height: 28px;
}
.text_dc9488 {
	color: var(--text-default) !important;
}
.top_a0 {
	display: flex;
	gap: 4px;
	border-bottom: none;
	max-width: 100%;
}
.item_a0 {
	transition: 300ms linear;
}
.top_a0 .item_a0 {
	background: transparent;
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	border: none !important;
	color: var(--text-default);
	line-height: 1.25rem;
	padding: 4px 0;
	border-radius: 6px;
	margin: 0;
	justify-content: center;
}
.item_a0:hover {
	background: transparent !important;
	box-shadow: var(--shadow);
}
.selected_a0.item_a0 {
	color: var(--text-default) !important;
	background: var(--background-gradient) 100% / 300% 100% !important;
	box-shadow: var(--shadow);
	&:hover {
		background-position: 0% !important;
	}
}
.note_a24910 {
	margin: 0;
}
.popoutBanner_c3e427, .profileBannerPremium__6fb42, .banner_c3e427 {
	display: none;
}
.userPopoutInner_c69a7b {
	background: var(--background-image) !important;
}
.topSection_b9fccc {
	margin-top: 24px;
}
.profileBanner_f0f36c, .popoutBannerPremium_c3e427 {
	background: transparent !important;
	-webkit-mask: none;
}
.avatarPositionNormal_f89da9, .avatarPositionPremiumBanner_f89da9 {
	top: 28px;
}
.root_e6f2d0, .root_e6f2d0 {
	gap: 6px;
}

.role_f9575e {
	z-index: 2;
	position: relative;
	background: none !important;
	border: none;
	padding: 0;
	height: 20px;
}
.role_f9575e>:first-child {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}
.roleRemoveButton_f9575e {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
}
.roleCircle_f9575e {
	border-radius: 4px;
	width: 100%;
	height: 20px;
	margin: 0 8px 0 0;
	box-shadow: var(--shadow);
}
.roleName_f9575e {
	overflow: hidden;
	z-index: 2;
	margin: 2px !important;
}
.role_f9575e .overflow_a82120 {
	text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4), 1px -1px 2px rgb(0, 0, 0, 0.4), -1px 1px 2px rgb(0, 0, 0, 0.4), -1px -1px 2px rgb(0, 0, 0, 0.4);
	padding: 4px;
	margin-right: 0;
}
.role_f9575e:has(div[aria-label="Remove Role"]):hover {
    padding-left: 14px;
}
.roleRemoveIcon_f9575e {
    left: 10px;
	top: calc(50%);
}
.roleIcon_f9575e {
    margin: 0 0 0 4px;
	position: relative;
	z-index: 2;
}
.expandButton_e6f2d0 {
	padding: 2px 7px;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	border: none;
	box-shadow: var(--shadow);
}
.button_edead5 {
	height: 20px;
	border-radius: 4px !important;
}
.avatar_f94206.fullSize_f94206 {
	top: -44px;
}
.headerInner_bc9cc2 {
	padding: 40px 16px 0;
}
.connectedAccountNameText_f3eb60,
.pronouns_c32acf,
.userTagUsername_c32acf, .listRow_d2d6cb,
.guildNick_c5a773, .discordIcon_b06bc5, .emptyText_d2d6cb,
.text-xs\/semibold_dc00ef, .text-xs\/medium_dc00ef, .text-xs\/normal_dc00ef,
.text-sm\/normal_dc00ef, .text-sm\/medium_dc00ef, .heading-xl\/bold_dc00ef, .heading-sm\/semibold_dc00ef,
.heading-lg\/bold_dc00ef, .text-md\/semibold_dc00ef {
	color: var(--text-default) !important;
}
.activity_b8cc6d path {
	fill: var(--text-default) !important;
}
.container_b64375 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	border: none;
	box-shadow: var(--shadow);
}
.connectedAccountContainer_ab12c6 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	border: none;
	border-radius: 8px;
	padding: 8px;
	box-shadow: var(--shadow);
}
.flowerStar_c91f7d path {
	fill: var(--main-color);
}
.footer_b8cc6d {
	padding: 0 12px 10px;
}
.wrapper_cb78f1.biteSize_cb78f1 {
	top: 10px;
	right: 10px;
	margin: 2px 2px 0 0;
}

/* Setting menu */
.sidebarRegionScroller_c25c6d.scrollerBase_c49869,
.contentRegionScroller_c25c6d.scrollerBase_c49869 {
	scrollbar-width: none;
}
.sidebarRegion_c25c6d .sidebarRegionScroller_c25c6d {
	backdrop-filter: blur(var(--mica-filter));
	max-width: 200px;
	margin-right: 6px;
	border-radius: 8px;
}
.sidebar_c25c6d {
	width: 100%;
	padding: 0;
}
.sidebar_c25c6d .side_a0 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	padding: 20px 8px;
	box-shadow: var(--shadow);
    margin-right: 6px;
    border-radius: 8px;
}
.contentColumnDefault_c25c6d, .contentColumnWide_c25c6d {
	background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	padding: 20px 40px;
	backdrop-filter: blur(var(--mica-filter));
	max-width: calc(100% - 200px);
	border-radius: 8px;
	box-shadow: var(--shadow);
}
.contentRegionScroller_c25c6d .toolsContainer_c25c6d {
	margin-left: 10px;
	padding-top: 00px;
	border-radius: 4px;
}
.contentRegionScroller_c25c6d .tools_c25c6d {
	padding: 8px;
	border-radius: 8px;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	backdrop-filter: blur(var(--mica-filter));
	box-shadow: var(--shadow);
}
.peopleList_e0840f.scrollerBase_c49869 {
	scrollbar-width: none;
}
.header_a0 {
	color: var(--main-color);
}
.empty_c47fa9 {
	fill :rgb(from var(--second-color) r g b / 0.4);
}
.container_effbe2 {
	background: rgb(from var(--mica-color) r g b / calc(var(--mica-opacity) /2)) !important;
}
.container_effbe2:focus-within {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	box-shadow: var(--shadow);
}
.barFill_c7a159 {
	background: var(--main-color);
}
.itemFilled_eb92a8 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	color: var(--text-default) !important;
	border-radius: 8px;
}
.itemFilled_eb92a8:hover {
	background: rgb(from var(--main-color) r g b / .2) !important;
}
.itemFilled_eb92a8[aria-checked=true] {
	background: rgb(from var(--main-color) r g b / .7);
}
.avatar_b69b77 {
	top: 58px;
}
.accountProfileCard_b69b77 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	border-radius: 4px;
	box-shadow: var(--shadow);
}
.background_b69b77, .fieldList_b69b77 {
	background: transparent;
}
.header_f4c122 {
	min-height: auto;
}
.avatar_f18fcb {
	top: 12px;
}
.customizationSection_b3a5c2, .session_c7a2c0 {
	border-bottom: none;
}
.divider_b03b7f {
	border-top: none;
}
.lookFilled_dd4f85, .lookOutlined_dd4f85 {
	background: var(--background-gradient) 100% / 300% 100% !important;
	box-shadow: var(--shadow);
	border-radius: 6px;
	transition: 300ms linear;
	&:hover {
		background-position: 0% !important;
	}
}
.lookFilled_dd4f85.colorRed_dd4f85 {
	background: rgb(218, 55, 60) !important;
}
.lookFilled_f6639d.select_f6639d {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	border: none;
	box-shadow: var(--shadow);
}
.popout_f6639d {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	border: none;
	box-shadow: var(--shadow);
}
.option_f6639d[aria-selected=true]:not(.option_f6639d.multi_f6639d) {
	background-color: rgb(from var(--main-color) r g b / .7);
}
.option_f6639d:focus, .option_f6639d:hover, .option_f6639d.focused_f6639d {
	background-color: rgb(from var(--main-color) r g b / .4);
}
.formNotice_aae945, .authedApp_f0135d {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	backdrop-filter: blur(var(--mica-filter));
	border-radius: 8px;
	box-shadow: var(--shadow) !important;
	border: none;
}

/* Search box */
.searchBar_a46bef {
	background: transparent;
}
.searchBar_a46bef:focus-within {
	background: linear-gradient(90deg, rgb(from var(--main-color) r g b / .35), transparent 30%);
}
.searchAnswer_b0fa94, .searchFilter_b0fa94 {
	background-color: var(--main-color);
}
.container_eedf95, .searchResult_ddc613 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	backdrop-filter: blur(var(--mica-filter));
	border-radius: 8px;
	box-shadow: var(--shadow);
}
.option_b0286e:hover {
	background: rgb(from var(--main-color) r g b / .6);
}
.search-1FM8Qc .searchBar-zdmu7v {
	background: transparent;
	outline: 1px solid var(--main-color);
}
.searchHeader_b7c924 {
	background: transparent;
}
.scroller_c2b47d {
	padding: 12px 12px 0 !important;
	&::-webkit-scrollbar {
    width: 4px;
    }
    &::-webkit-scrollbar-track {
    background: transparent;
    }
    &::-webkit-scrollbar-thumb {
    background: var(--main-color);
    }
}
.queryContainer_eedf95.focused_eedf95 {
	background: transparent;
}
.option_b0286e .filter_b0286e, .option_b0286e .answer_b0286e, .option_b0286e strong {
	color: var(--text-normal);
}
.option_b0286e.user_b0286e .displayUsername_b0286e {
	color: var(--text-faded);
}
.background_b69b77 {
    padding: 16px 0 0 4px;
}
.button_ddc613 {
	background: var(--background-gradient) 100% / 300% 100%;
	box-shadow: var(--shadow);
	border-radius: 4px;
	transition: 300ms linear;
	&:hover {
		background-position: 0%;
	}
}
.small_f9a4c9 {
	width: auto;
}
.modal_ed23b8 {
	margin: 0 !important;
}
/* Mentions */
.wrapper_bf1b19 {
    border-radius: 4px !important;
	background: var(--background-gradient) 100% / 300% 100% !important;
	box-shadow: var(--shadow);
	padding: 0px 2px;
	color: var(--text-normal) !important;
	transition: 300ms linear;
	&:hover {
		background-position: 0%;
	}
}
.mentioned_d5deea {
	background: rgb(from var(--main-color) r g b / .2) !important;
}
.mentioned_d5deea:before {
	background: var(--main-color);
}
.discriminator_afed89, .guildNick_b26403 {
	color: var(--text-faded);
}

/* Server column */
.scroller_fea3ef {
	padding-top: 0;
}
.childWrapperNoHoverBg_f90abb {
	background: transparent var(--background-gradient) 100% / 300% 100% !important;
	transition: 300ms linear;
	&:hover {
		background-position: 0% !important;
	}
}
.guildSeparator_d0c57e {
	display: none;
}
.layer_d4b6c5 .wrapper_fea3ef {
    background: transparent;
    box-shadow: none;
	& .scrollerBase_c49869 {
		scrollbar-width: none;
	}
}
/* new unread bar */
.bar_eba0ba, .bar_edf32f {
	background: var(--background-gradient);
	border-radius: 8px;
	margin: 4px 40px;
	box-shadow: var(--shadow);
}
.expandedFolderBackground_bc7085 {
	left: 8px;
	padding: 4px;
	top: -4px;
	bottom: 4px;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	backdrop-filter: blur(var(--mica-filter));
}
.wrapper_c5f96a {
	border-radius: 24px;
	overflow: hidden;
}
.wrapper_c5f96a:has(.lowerBadge_c5f96a),
.wrapper_c5f96a:has(.upperBadge_c5f96a) {
	overflow: visible;
}
.circleIconButton_db6521 {
	background: rgb(from var(--main-color) r g b / .2);
}
/* Reaction */
.reaction_ec6b19, .reactionBtn_ec6b19,
.reaction_f61c73 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
    border-radius: 4px !important;
	border: 1px solid transparent;
	height: 24px !important;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: auto;
}
.reactionBtn_ec6b19 {
	padding: 2px 6px !important;
}
.reaction_ec6b19:hover,
.reactionBtn_ec6b19:hover,
.reaction_f61c73:hover {
	box-shadow: var(--shadow);
	border-color: transparent;
	border-color: none;
}
.reaction_ec6b19.reactionMe_ec6b19,
.reaction_f61c73.reactionMe_f61c73 {
	border-color: var(--main-color);
	box-sizing: border-box;
}
.reaction_ec6b19.reactionMe_ec6b19 .reactionCount_ec6b19 {
	color: rgba(255, 255, 255, 0.8);
}
.reactionCount_ec6b19 {
	min-width: unset !important;
}
.container_b385c8 {
	background-color: rgb(from var(--second-color) r g b / .9);
	border-radius: 8px;
	margin: 6px;
}

/* Right click menu */
.layer_cd0de5:has(.menu_d90b3d):before {
	background: var(--background-overlay) !important;
}
:not(.userPopoutOverlayBackground_c69a7b) > .menu_d90b3d, .container_ac201b {
	background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    position: relative;
    z-index: 2;
    box-shadow: var(--shadow);
    border-radius: 8px;
    overflow: hidden;
}
.menu_d90b3d .scrollerBase_c49869 {
	scrollbar-width: none;
	padding-right: 8px !important;
}
.submenuPaddingContainer_d90b3d {
	padding: 0;
}
.isBurstReactionPicker__428c0 {
	box-shadow: none;
}
.labelContainer_d90b3d {
	padding: 6px;
	border-radius: 4px;
}
.label_d90b3d {
	color: var(--text-normal);
}
.separator_d90b3d {
	border-bottom-color: var(--text-normal);
}
.container_ac201b {
	position: absolute;
	z-index: 2;
}
.button_a24e84 {
	background: rgb(from var(--mica-color) r g b / calc(var(--mica-opacity) / 2));
	box-shadow: var(--shadow);
	border-radius: 8px;
	width: 28px;
	height: 28px;
	&:hover {
		background-color: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	}
}
.icon_a24e84 {
	height: 24px;
	width: 24px;
}
.colorDefault_d90b3d.focused_d90b3d {
	background: var(--background-gradient);
	box-shadow: var(--shadow);
}

/* Homepage */
.channel_c91bad {
margin: 8px;
}
.peopleListItem_d51464 {
	border-top: 1px solid var(--text-faded) !important;
	margin: 0 20px 0 30px !important;
	padding: 0 10px;
}
.peopleListItem_d51464:hover, .peopleListItem_d51464.active_d51464 {
	background: transparent;
	padding-left: 15px;
	border-radius: 0;
}
.actionButton_e01b91, .actionButton_e01b91.highlight_e01b91, .emptyCard_f02fcf {
	background: none;
	box-shadow: none;
}
.peopleListItem_d51464:hover .actionButton_e01b91, .actionButton_e01b91.highlight_e01b91,
.peopleListItem_d51464:hover .emptyCard_f02fcf {
	background: var(--background-gradient) 100% / 300% 100% !important;
	box-shadow: var(--shadow);
	&:hover {
		background-position: 0% !important;
	}
}
.searchBar_e0840f:focus-within {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
}
.title_a1cafe {
	color: var(--text-default);
}
.searchBar_f0963d .searchBarComponent_f0963d {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
}
.interactive_f5eb4b:hover, .interactive_f5eb4b:focus-within {
	background: none;
}
.selected_f5eb4b {
	background: var(--background-gradient) 100% / 300% 100% !important;
	background-position: 100%;
	transition: 300ms linear;
	box-shadow: var(--shadow);
	&:hover {
		background-position: 0% !important;
	}
	& .avatarWithText_c91bad {
		color: var(--text-default);
	}
}
.outer_ac5d22 {
	background: var(--background-gradient) 100% / 300% 100% !important;
	border: none;
	&:hover {
		box-shadow: var(--shadow);
		background-position: 0% !important;
	}
}
.inset_ac5d22 {
	background :transparent;
}
.section_cd82a7 {
	background-color: var(--main-color);
}
.scroller_bf550a {
	border-left: none;
}

/* DMs */
.content_a7d72e > .panel_c69a7b {
	margin:6px 12px 24px 0px;
	background: transparent !important;
	box-shadow: var(--shadow);
	border-radius: 8px;
	overflow: hidden;
	height: auto;
}
.content_a7d72e > .panel_c69a7b:before {
	background: transparent;
}

/* Auto hidden member list */
.container_cbd271, .membersWrap_cbd271:not(.container_cbd271 > .membersWrap_cbd271) {
	transition: 200ms linear;
	width: 60px;
	margin: 0 6px;
}
.container_cbd271:hover, .membersWrap_cbd271:not(.container_cbd271 > .membersWrap_cbd271):hover {
	width: 240px;
}
.membersWrap_cbd271, .membersWrap_cbd271 {
	min-width: 0;
	width: inherit;
}
.members_cbd271 {
	width: inherit;
}

/* Day change notif */
.content_c2654d {
	border-radius: 4px;
	color: var(--text-normal);
	border: 2px solid var(--main-color);
	background: var(--second-color);
	line-height: 12px;
	margin-bottom: 8px;
}
.content_c2654d:before {
	display: none;
}
.content_c2654d:after {
	display: none;
}

/* Why tf is the editor behind the window bar whose z-index is set to 3001*/
#floating-editor-window {
	z-index: 3002;
	max-width: 800px;
	width: 100%;
}
#bd-editor-controls {
	background: rgba(0, 0, 0, 0.9);
}

/* New pill */
.unreadPill_c2654d {
	padding-top: 2px;
	top: -7px;
    background-color: var(--main-color);
}
.unreadPillCapStroke_c2654d {
    color: var(--main-color);
    fill: var(--main-color);
}
.divider_c2654d.isUnread_c2654d, .divider_c2654d:has(.content_c2654d) {
	background: transparent;
	border-top: 1px var(--main-color) solid;
	margin: 0 4px 4px 72px;
	top: 0 !important;
	z-index: 1;
}

/* Spoilers */
.spoilerMarkdownContent_aa9639 {
    border-radius: 4px;
	padding: 1px 4px;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
	&.hidden_aa9639 {
		background-color: var(--second-color);
	}
}

/* Gallery and channel thread list */
.popout_c5b389 {
	margin-left: 0;
}
.list_a6d69a>div:first-child {
	padding: 0;
	margin-right: 6px;
}
.list_a6d69a, .grid_a6d69a {
	border-radius: 8px;
    margin: 6px 0px 0px 6px;
    width: calc(100% - 6px);
}
.chat_a7d72e.threadSidebarOpen_a7d72e {
	margin: 0;
}
.content_a7d72e > .container_a6d69a {
	margin-right: 6px;
	margin-bottom: 24px;
}
.headerRow_a6d69a {
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	padding-right: 6px !important;
}
.resizeHandle_d1c246 {
	border-bottom-left-radius: 8px !important;
	border-top-left-radius: 8px !important;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	backdrop-filter: blur(var(--mica-filter));
	height: calc(100% - 24px);
}
.collapsed_c1668f .title_c1668f {
	height: 36px;
	margin: 0;
	line-height: 36p6;
	padding-right: 0;
	margin-right: 8px;
	padding-left: 8px;
	border-radius: 8px;
}
.content_eed6a8 > div:first-child {
	top: 0 !important;
}
.list_a6d69a .header_a6d69a {
	margin-top: 0;
}
.sortDropdown_a6d69a {
	margin-bottom: 6px;
}
.divider_a6d69a {
	margin: 0 4px;
}
.tagList_a6d69a {
	height: 38px;
}
.tagsButton_a6d69a {
	margin-bottom: 6px;
}
.tagListInner_a6d69a:last-child {
	margin-right: 4px;
}
.spine_e1e976 {
	width: 16px !important;
    height: 16px !important;
	left: 16px;
	top: 0;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-radius: 0 0 0 3px;
}
.spineBorder_e1e976 {
	display: none;
}
.spine_e1e976 + .spine_e1e976 {
	top: 7px;
	border-radius: 0;
}
.typeThread_d8bfb3.wrapper_d8bfb3 {
	margin-left: 30px;
}
.typeThread_d8bfb3 .unread_d8bfb3 {
	display: none;
}
.container_e664f3 {
	background: transparent;
}
.spine_e1e976 path  {display: none;}
.searchBox_e664f3 {
	background: transparent;
}
.searchBox_e664f3:focus-within {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
}
.header_e664f3 {
	background: transparent;
	box-shadow: none;
	border-radius: 8px 8px 0 0;
}
.container_acb8b3 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity)) !important;
	box-shadow: var(--shadow);
}
.list_c6aa12 {
	padding: 0 6px !important;
	margin: 0 6px;
	border-radius: 8px;
}
.repliedMessage_f9f2ca .repliedTextPreview_f9f2ca .repliedTextContent_f9f2ca, .threadMessageAccessory_f9f2ca .threadMessageAccessoryPreview_f9f2ca .threadMessageAccessoryContent_f9f2ca {
	color: var(--text-default);
}
.row_c5b389:hover {
	background: var(--background-gradient);
	box-shadow: var(--shadow);
}
.cozy_f9f2ca.hasThread_f9f2ca:after {
	border-color: var(--main-color);
}
.container_c15230 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
}

/* tooltips */
.layer_cd0de5:has(.tooltip_b6c360):before,
.layer_cd0de5:has(.reactionTooltip_fba897):before, 
.layer_cd0de5:has(.popout_c5b389):before {
	display: none;
}
.layer_cd0de5:has(.popout_c5b389) {
	transform: translateX(16px);
}
.theme-dark .tooltip_b6c360,
.reactionTooltip_fba897 {
	border-radius: 8px;
	background: var(--background-gradient) 100% / 300% 100%;
	backdrop-filter: blur(var(--mica-filter));
	animation: appear 0.25s linear 0s 1 normal !important;
	color: var(--text-default);
	box-shadow: var(--shadow);
}
.theme-dark .tooltip_b6c360.tooltipPrimary_b6c360>.tooltipPointer_b6c360 {
    border-top-color: var(--main-color);
	border-width: 6px;
}
.popoutContainer_cf58b5, .guildSection_e58351 {
	background: transparent;
}

/* Fuck server discovery */
.footer_d71945 {display: none}

/* Autocomplete emote pick */
.autocomplete_bcc24e {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	backdrop-filter: blur(var(--mica-filter));
}
.autocomplete_bcc24e .autocompleteInner_bcc24e {
	background: transparent;
	& .scrollerBase_c49869 {
		scrollbar-width: none;
	}
}
.clickable_bcc24e[aria-selected=true]>.base_bcc24e,
.clickable_bcc24e > .base_bcc24e:hover {
	background: var(--background-gradient);
	color: var(--text-default);
	box-shadow: var(--shadow);
}

/* inbox */
.messagesPopoutWrap_ac90a2, .container_f1c3d9, .container_f8a938 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
}
.layer_cd0de5:before {
	position: absolute;
	inset: 0;
	content: '';
	backdrop-filter: blur(var(--mica-filter));
}
.layer_cd0de5:has([aria-label = "Inbox"]) {
	box-shadow: var(--shadow);
	border-radius: 8px;
}
.scroller_f1c3d9, .scroller_ddb5b4 {
	scrollbar-width: none;
	padding: 0 8px !important;
}
.messages_c06487, .container_ddb5b4 {
	background: transparent;
	padding-right: 0;
}
.headerTabs_f0cd33 {
	margin: 0;
	gap: 4px;
}
.header_f0cd33 {
	padding: 8px 16px;
	border-bottom: none;
}
.tabBar_f0cd33 {
	gap: 4px;
}
.tab_f0cd33 {
	padding: 4px 16px;
	flex-grow: 1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.channelHeader_f3978e {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    backdrop-filter: blur(15px);
    padding: 12px 16px 12px 24px;
    border-radius: 8px;
	box-shadow: var(--shadow);
}
.collapseButton_d09ffd {
	left: 0;
}
.messageContainer_c06487, .messageContainer_ddb5b4 {
	padding: 0 0 4px 0;
	margin: 0;
	background: transparent;
}
.controlButton_f0cd33, .friendRequestsButton_c0c071 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
}
.numberBadge_df8943 {
	background: transparent;
}

/* pin */
.layer_cd0de5:has([aria-label = "Pinned Messages"]) .messagesPopoutWrap_ac90a2 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
}
.messagesPopoutWrap_ac90a2 .scrollerBase_c49869 {
	scrollbar-width: none;
	padding: 8px !important;
}
.header_ac90a2 {
	border: none;
	padding: 16px 8px 8px;
}
.messageGroupWrapper_ac90a2 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
	box-shadow: var(--shadow);
	border-radius: 8px;
	border: none;
}
.footer_ac90a2 {
	background: transparent;
}
.actionButtons_ac90a2 {
	right: 8px;
}
.jumpButton_ac90a2 {
	background: var(--background-gradient) 100% / 300% 100%;
	box-shadow: var(--shadow);
	border-radius: 4px;
	&:hover {
		background-position: 0%;
	}
}

/* discord function stuffs (block/ban/kick etc) */
.footer_f9a4c9 {
	background: transparent;
}
.layer_c9e2da .scrollerBase_c49869 {
	scrollbar-width: none;
}
.banReasonOtherClickable_e6c06bm {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    color: var(--text-default) !important;
    border-radius: 8px;
}
.sidebarContainer_d2194f {
	margin-left: 0;
}
.innerContainer_d2194f {
	padding: 0;
}
.container_d936aa {
	margin: 8px;
	background: transparent;
	box-shadow: var(--shadow);
}
.topRow_d936aa, .bottomRowAction_d936aa, .permissionItemContainer_f38b88 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    color: var(--text-default) !important;
}
.container_f51af4 {
	background: transparent;
	& .scrollerBase_c49869 {
		scrollbar-width: none;
	}
}
.innerContainer_f51af4 {
	padding: 12px 8px !important;
}
.guildSidebar_a7d72e {
	margin: 0 12px 24px 0;
	box-shadow: var(--shadow);
	border-radius: 8px;
}
 .root_f9a4c9, .header_f51af4 {
	margin: 0 8px;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    color: var(--text-default) !important;
	box-shadow: var(--shadow);
	backdrop-filter: blur(var(--mica-filter));
	border-radius: 8px;
}
.modInfoItemContainer_ce9fb9 {
	box-shadow: var(--shadow);
}
.modInfoItem_ce9fb9 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    color: var(--text-default) !important;
}

/* emote, gif, sticker picker */
.layer_cd0de5:has(.positionContainer_af5dbb):before {
	display: none;
}
.drawerSizingWrapper_af5dbb {
	width: 512px !important;
}
.contentWrapper_af5dbb {
	background: transparent;
	box-shadow: none;
}
.contentWrapper_af5dbb:before {
	position: absolute;
	content: '';
	inset: 0;
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    box-shadow: var(--shadow);
    border-radius: 8px;
    backdrop-filter: blur(var(--mica-filter));
}
.navItem_af5dbb {
	border-radius: 8px;
	&:hover {
		box-shadow: var(--shadow);
		background: transparent;
	}
}
.navButtonActive_af5dbb {
	background: var(--background-gradient) 100% / 300% 100%;
    box-shadow: var(--shadow);
	&:hover {
		background-position: 0%;
	}
}
.header_c6ee36, .header_d8cdac {
	padding: 0 8px 16px;
	box-shadow: none;
}
.bodyWrapper_c6ee36, .wrapper_de4721 {
	margin-left: 16px;
	padding-right: 4px;
}
.thin_c49869.scrollerBase_c49869 {
	scrollbar-width: none;
}
.wrapper_e06857 {
	background: var(--background-gradient);
    box-shadow: var(--shadow);
    border-radius: 8px;
    backdrop-filter: blur(var(--mica-filter));
	margin-right: 4px;
	margin-bottom: 4px;
}
.emojiListRow_fbfedd {
	padding-left: 4px;
}
.wrapper_e06857:after {
	display: none;
}
.inspector_c3120f {
	margin: 0 8px 8px 16px;
	background: var(--background-gradient) 100% / 300% 100%;
    box-shadow: var(--shadow);
    border-radius: 8px;
	width: auto;
}
.container_c18ec9 {
	background: rgb(from var(--mica-color) r g b / calc(var(--mica-opacity) / 2));
    border-radius: 8px;
    backdrop-filter: blur(var(--mica-filter));
}
.container_c18ec9:focus-within {
	background: linear-gradient(90deg, rgb(from var(--main-color) r g b / .35), transparent 30%);
	box-shadow: var(--shadow);
}
.wrapper_ba23fe {
	background: var(--background-gradient) 100% / 300% 100%;
    box-shadow: var(--shadow);
    border-radius: 8px;
	margin: 0 0 8px 8px;
}
.unicodeShortcut_dfa278 {
	display: none;
}
.emojiItem_fbfedd.emojiItemSelected_fbfedd, .stickerInspected_a708c4 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    box-shadow: var(--shadow);
	border-radius: 12.5%;
}
.assetWrapperMasked_cb3343 {
	mask: none;
}
.categoryItemDefaultCategory_dfa278:hover, .stickerCategory_a7a485:hover {
	background: transparent;
    box-shadow: var(--shadow);
}
.categoryItemDefaultCategorySelected_dfa278, .firstPartyCategorySelected_a7a485, .stickerCategoryGenericSelected_a7a485 {
	background: rgb(from var(--mica-color) r g b / var(--mica-opacity));
    box-shadow: var(--shadow);
}
.stickerInspected_a708c4 .inspectedIndicator_a708c4 {
	background: transparent;
}
.container_b56bbc, .header_b56bbc {
	background: transparent;
	box-shadow: none;
}